@import url('https://fonts.googleapis.com/css?family=Montserrat|PT+Mono');

html, p, button, input {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'PT Mono', monospace;
}

#app {
  text-align: center;
  padding-top: 3em;
}

table {
  display: inline-table;
}

button, .btn {
  border-radius: .25em;
  padding: .25em;
  text-decoration: none;
  font-size: 14px;
  margin: .25em .5em;
}

.btn-primary {
  border: 1px solid #5599ff;
  background-color: #5599ff;
  color: white;
}

.btn-secondary {
  border: 1px solid #5599ff;
  background-color: white;
  color: #5599ff;
}

#form-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
}

#instructions {
  grid-column: 1 / span 1;
}

#form {
  grid-column: 2 / span 3;
}
