.row {
  display: grid;
  grid-column: 2 / span 3;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: .5em;
}

.col-hd {
  text-align: center;
}

.col-hd.season {
  grid-column: 4 / span 8;
}

.name {
  grid-column: 1 / span 3;
  text-align: right;
}

.name input {
  border: none;
  margin: 0 1em;
  text-align: right;
  max-width: 90%;
}

input[type="date"] {
  border: none;
  max-width: 50%;
  background-color: rgba(0,0,0,0);
}

.date-divider {
  position: absolute;
  left: calc(50% - 30px);
  z-index: -100;
}

.start {
  text-align: left;
}

.end {
  text-align: left;
}

.season-one {
  position: relative;
  grid-column: 4 / span 4;
  padding: 0 .5em;
  margin: 0 1em;
}

.season-two {
  position: relative;
  grid-column: 8 / span 4;
  margin: 0 1em;
}

.delete {
  grid-column: 12 / span 1;
}

@media (max-width: 1200px) {
  .col-hd.season {
    grid-column: 5 / span 6;
    order: 2;
  }
  .name {
    grid-column: 1 / span 4;
    order: 1;
  }
  .season-one {
    grid-column: 5 / span 6;
    order: 2;
  }
  .season-two {
    grid-column: 5 / span 6;
    order: 4;
  }
  .date-divider {
    left: calc(50% - 45px);
  }
  .delete {
    grid-column: 11 / span 2;
    order: 3;
  }
}

@media (max-width: 975px) {
  .name {
    grid-column: 1 / span 3;
    order: 1;
  }
  .season-one {
    grid-column: 4 / span 9;
    order: 2;
  }
  .season-two {
    grid-column: 4 / span 9;
    order: 4;
  }
}

@media (max-width: 600px) {
  .col-hd.season {
    grid-column: 5 / span 6;
    order: 2;
  }
  .name {
    grid-column: 1 / span 4;
    order: 1;
  }
  .season-one {
    grid-column: 5 / span 8;
    order: 2;
  }
  .season-two {
    grid-column: 5 / span 8;
    order: 4;
  }
  .delete {
    grid-column: 1 / span 4;
    order: 3;
    text-align: right;
  }
}
